{% extends 'blogapp/base.html' %} {%load static %} {% block title %}
<title>Edit Profile</title>
{% endblock %} {% block css %}
<style>
   input{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.head{
   display: flex;
   justify-content: center;
}

.updateButton{
    padding:10px;
    margin-top: 20px;
    width:100%;
    background-color: rgb(54, 190, 190);
    color:white;
    font-weight: 600;
}
</style>
{% endblock %} {% block content %}


<div class="Blog-bg">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="Blogheading">
           <h3></h3>
         </div>
       </div>
     </div>
   </div>
 </div>
 
 <!-- section -->
 <div
   style="
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
   "
   style="margin: 30px"
 >
   <div class="container">
     <div class="row">
       <div class="col-md-8 offset-md-2">
         <div class="full">
           <div class="blog_cont_2">
              <div class="head">
               <h1>UPDATE PROFILE</h1>

              </div>
             <hr />
             <form method="post">{% csrf_token %}
                 <div>
                <input type="text" value={{profile.user.username}} name="username" placeholder="Username" required="" />
                <input type="text" name="firstname" placeholder="Firstname"  value={{profile.user.first_name}}  />
                    
                <input type="text" value={{profile.user.last_name}} name="lastname" placeholder="Lastname" required="" />
                <input type="text" value={{profile.user.email}} name="email" placeholder="Email" required="" />
                <input id="files" type="file"  />
                <input hidden type="text" id="imageURL" name="img"  placeholder="Image Url" />
                <input  type="text" value={{profile.accountType}} id="accountType" name="accountType" />

                   </div>
                   <div class="field">
                     <div class="center">
                        <button type="button" onClick="uploadimage()" id="uploadButton" class="updateButton">Upload</button>
                     </div>
                  </div>
                  <div class="field">
                     <div class="center">
                        <button style="display: none;" id="submitButton" class="updateButton">Edit</button>
                     </div>
                  </div>
 
             </form>
            
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

{% endblock %}



{% block js %}


<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>


<script>
  var firebaseConfig = {
    apiKey: "AIzaSyBm58arLBCxHkwApxSQzDBSaQJFetuPM-Y",
    authDomain: "voice-43ab9.firebaseapp.com",
    databaseURL: "https://voice-43ab9-default-rtdb.firebaseio.com",
    projectId: "voice-43ab9",
    storageBucket: "voice-43ab9.appspot.com",
    messagingSenderId: "211438195730",
    appId: "1:211438195730:web:29ca5996d375fb0fcf74cb",
    measurementId: "G-QP0J48W61L",
  };
  firebase.initializeApp(firebaseConfig);

  function uploadimage() {
    console.log("Uploaded")
    document.getElementById("uploadButton").innerText = "UPLOADING......";
    var storage = firebase.storage();
    var file = document.getElementById("files").files[0];
    var storageref = storage.ref();
    var thisref = storageref.child(file.name).put(file);
    thisref.on(
      "state_changed",
      function (snapshot) {
        console.log("Done");
      },
      function (error) {
        console.log("Error", error);
      },
      function () {
        // Uploaded completed successfully, now we can get the download URL
        thisref.snapshot.ref.getDownloadURL().then(function (downloadURL) {
          console.log("File available at", downloadURL);
          document.getElementById("uploadButton").style.display="none"
          document.getElementById("imageURL").value = downloadURL;
        //   document.getElementById("postButton").innerHTML = (
            
        //   );
        document.getElementById("submitButton").style.display="block"
        });
      }
    );
  }
</script>


{%endblock%}
