{% extends 'blogapp/base.html' %} {%load static %} 

{% block title %}
<title>Forgot Password</title>
{% endblock %}

{% block css %}
<style>
   input{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.head{
   display: flex;
   justify-content: center;
}

#updateButton{
    padding:10px;
    margin-top: 20px;
    width:100%;
    background-color: rgb(54, 190, 190);
    color:white;
    font-weight: 600;
}
</style>
{% endblock %}

{% block content %}


<div class="Blog-bg">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="Blogheading">
           <h3></h3>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div
   style="
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
   "
   style="margin: 30px"
 >
   <div class="container">
     <div class="row">
       <div class="col-md-8 offset-md-2">
         <div class="full">
           <div class="blog_cont_2">
              <div class="head">
               <h1>RESET PASSWORD</h1>

              </div>
              
             <hr />
             <div style="display: flex;justify-content: center;padding:10px;color:red;font-weight: 600;">
          
               
             </div>
           
             <form method="post">{% csrf_token %}

                 <div>
                     <input placeholder="Password" name="password" type="password"  required/>
                     <input placeholder="Confirm Password" name="email" type="password"  required/>
                   </div>
                   <button type="submit" id="updateButton">RESET</button>
             </form>
           

           </div>
         </div>
       </div>
     </div>
   </div>
 </div>



{% endblock %}

