{% extends 'blogapp/base.html' %} {%load static %} {% block title %}
<title>Update Post</title>
{% endblock %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}" />
{% endblock %} {% block content %}

<div class="Blog-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="Blogheading">
          <h3></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin: 60px;padding:50px">
<div>
  <h1>UPDATE BLOG</h1>
  <hr />
  <form method="post">{% csrf_token %}
      <div>
        <input style="margin-bottom: 20px;" type="text" name="title" value="{{post.title}}"/>

        <textarea  name="editor1">{{post.blog|safe}}</textarea>
          <!-- <input type="file" /> -->
        </div>
        <button id="updateButton">Update</button>

  </form>
 
</div>
</div>
{% endblock %}

{% block js %}
<script>
  CKEDITOR.replace( 'editor1' );
</script>
{% endblock %}